<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container content">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  	<a href="https://dlap-web-app.herokuapp.com"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body" align=center>

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
<table border ="1">
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
<tr><th></br></th></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
	    <tr></tr>
        </table>
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input align=center style="height:40px;width:150px"  class="btn btn-primary btn-large home-btn" type="submit" value="Login" />
        <input type="hidden" name="next" value="home" />
    </form>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="register"><button align=center  style="height:40px;width:150px" class="btn btn-primary btn-large home-btn">Client Register</button></a>
</table>
{% endblock %}

		</div>
</html>
