<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container content">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  	<a href="https://dlap-web-app.herokuapp.com"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body" align=center>
{% block content %}
<table>
    <form method="post" action=".">{% csrf_token %}
        <table border="0" style="border-spacing: 8px; border-collapse: separate;">
            {{ form.as_table }}
<tr><th></br></th></tr>
        </table>
        <input style="height:40px;width:150px" class="btn btn-primary btn-large home-btn"  type="submit" value="Register" />
    </form>
    <a href="{% url 'client' %}"><button style="height:40px;width:150px" class="btn btn-primary btn-large home-btn">Client login</button></a>
</table>
{% endblock %}
</div>
</html>
