body {
	background-color: #eeeeee;
}

div.body {
	min-height: 400px;
	margin-bottom: 50px;
	overflow: auto;
}

div.container {
	background-color: #ffffff;
}

div.jumbotron {
	background-color: #ffffff;
	margin-bottom: 0px;
}

label {
	text-align: right;
}

div.radio {
	padding-top: 0px;
	text-align: left;
}

.form-horizontal .radio {
	padding-top: 0px;
}

div.button {
	text-align: center;
}

button {
	width: 50%;
}

div.search-container {
	margin: 50px;
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #aeaeae;
	border-radius: 10px;
	overflow: auto;
	background-color: #fafafa;
}

button.home-btn {
	margin: 8px;
}

div.page-title{
	text-align: center;
	margin-bottom: 25px;
}

div.project-list-header {
	text-align: center;
	margin-bottom: 50px;
}

div.search-container-header {
	text-align: center;
}

div.search-container-body {
	margin: 15px;
	text-align: center;
}

.search-criteria {
	width: 100%;
}

.search-input {
	width: 100%;
}

#search_btn {
	width: 100%;
}
