<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  		<a href="https://dlap-web-app.herokuapp.com/"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body">
				<div class="page-title">
					<h1>Student Application Form</h1>
				</div>
				<div>
					<p> 
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp; The College of Engineering and Applied Science is pleased to offer research opportunities (Discovery Learning 
						Apprenticeships) in fall 2016 and spring 2017 for <strong>undergraduate engineering</strong> students. 
						You could be one of approximately 75 apprentices who will be funded at $12/hour up to $3,600 annually. Earn 
						money and gain valuable, resume-worthy experience while working with graduate students and faculty on fascinating projects!</p><p>
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp;
						Prior to submitting an application, you are encouraged to contact the supervisors of the projects in which you are 
						interested in order to obtain more information. Please be aware, however, that these supervisors do not make the final 
						hiring decision. You can find detailed project descriptions online by viewing the 2016-2017 
						<a href="http://engineering.colorado.edu/activelearning/discovery.htm" target="_blank">
						advertised apprenticeships</a> (these will be posted by April 1st, 2016).
					</p>
					<p>
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp; By April 30th, 2016, complete the application below and upload <b>a resume and a 
						cover letter</b> in two separate documents. Applications will not be accepted 
						after the April 30th deadline. Applicants will be notified in early June 2016 as 
						to whether they were selected for the program.
					</p>
					<p>
						<br>
						&nbsp;&nbsp;&nbsp;&nbsp; If you have any questions or concerns about Discovery Learning Apprenticeships or your application, please contact 
						Sharon Anderson at
						<a target="_blank" style="color: rgb(17, 85, 204); font-family: Calibri, sans-serif; font-size: 14.4444446563721px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);" href="mailto:sharon.e.anderson@colorado.edu">
						sharon.e.anderson@colorado.edu</a>.
					</p>
					<br>
					<strong>&nbsp;&nbsp;&nbsp;&nbsp; Please ensure that all information is correct before submitting your application.  
					You will not be able to return to this page to make changes or corrections.</strong>
					<p>
						<span style="font-family: Arial">
							<span>Note that a 
								<strong>
									<span style="color: #ff0000"><span style="font-size: 14pt">*</span></span>
								</strong>denotes a required field.
							</span>
						</span>
					</p>
					<span id="labelMessage1" style="color:Red;font-weight:bold;"></span>
					<br>
					<span id="labelMessage2" style="color:Red;font-weight:bold;"></span>
				</div>
				<div>
					<form class="form-horizontal" action="/studentsubmit/" enctype="multipart/form-data" method="POST">
						<div class="panel panel-default" id="demographic-info">
					    	<div class="panel-heading">Demographic Information</div>
				    		<div class="panel-body" >
								<div class="contol-label form-group">
									<label for="first_name" class="col-sm-3"><span style="color: #ff0000">*</span>First Name:</label>
									<div class="col-sm-8">
										<input required type="text" name="primary_first_name" class="form-control" id="first_name">
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="last_name" class="col-sm-3"><span style="color: #ff0000">*</span>Last Name:</label>
									<div class="col-sm-8">
										<input required type="text" name="primary_last_name" class="form-control" id="last_name">
									</div>
								</div>
								<div class="control-label form-group" >
									<label for="gender_radio" class="col-sm-3" align = left><span style="color: #ff0000">*</span>Gender:</label>
									<div class="radio col-sm-8" id="gender_radio" align = left>
										<label class="radio-inline"><input type="radio" value="Male" name="optradio" required>Male</label>
										<label class="radio-inline"><input type="radio" value="Female" name="optradio" required>Female</label>
									</div>
								</div>
								<div class="control-label form-group">
									<label for="ethnic_radio" class="col-sm-3" align = left>Ethnicity (check all that apply):</label>
									<div class="radio col-sm-8" id="ethnic_radio" align = left>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="AN">American Indian or Alaskan Native</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="BA">Black or African-American</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="NHPS" >Native Hawaiian or Pacific Islander</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="AS" >Asian</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="WH" >White</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="OTH" >Other</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="ethnic_type" value="DNW"
>Do Not Wish to Provide</label>
										</div>
									</div>
								</div>
							</div>	
						</div>
					    <div class="panel panel-default" id="second-faculty-member-info">
					    	<div class="panel-heading">Boulder Contact Information</div>
					    	<div class="panel-body">
					    		<div class="control-label form-group">
									<label for="bldr_addr" class="col-sm-3" align=  left><span style="color: #ff0000">*</span>Boulder Street Address:</label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="5" name="bldr_addr" id="bldr_addr" required></textarea>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="bldr_phone_number" class="col-sm-3"><span style="color: #ff0000">*</span>Phone Number:</label>
									<div class="col-sm-8">
										<input type="tel" pattern = "^\d{10}$" placeholder="XXXXXXXXXX (all numbers) class="form-control" name="bldr_phone_number" id="bldr_phone_number" required>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="bldr_email" class="col-sm-3"><span style="color: #ff0000">*</span>Email:</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" name="bldr_email" id="bldr_email" required>
									</div>
								</div>
				    		</div>
			    		</div>
			    		<div class="panel panel-default" id="grad-student-info">
					    	<div class="panel-heading">Summer Contact Information (Optional)</div>
				    		<div class="panel-body">
				    			<div class="control-label form-group">
									<label for="summer_addr" class="col-sm-3" align = left>Boulder Street Address:</label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="5" name="summer_addr" id="summer_addr"></textarea>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="summer_phone_number" class="col-sm-3">Phone Number:</label>
									<div class="col-sm-8">
										<input type="tel" pattern = "^\d{10}$" placeholder="XXXXXXXXXX (all numbers) class="form-control" name="summer_phone_number" id="summer_phone_number">
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="summer_email" class="col-sm-3">Email:</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" name="summer_email" id="summer_email">
									</div>
								</div>
				    		</div>
			    		</div>
			    		<div class="panel panel-default" id="apprenticeship-info">
					    	<div class="panel-heading">Academic Information</div>
			    			<div class="panel-body">
			    				<div>
			    					<p>Please carefully enter your academic information. If you are still open option, indicate which major you plan to enter.</p>
			    				</div>
			    				<div class="contol-label form-group">
									<label for="student_number" class="col-sm-3"><span style="color: #ff0000">*</span>Student Number:</label>
									<div class="col-sm-8">
										<input type="tel" pattern = "^\d{9}$" type="text" placeholder="XXXXXXXXX" name="student_number" id="student_number" required>
									</div>
								</div>
		    					<div class="contol-label form-group">
									<label for="primary_major_select" class="col-sm-3"><span style="color: #ff0000">*</span>Major:</label>
									<div class="col-sm-8">
				    					<select class="form-control" name="student_department" id="primary_major_select" required>
											<option selected="selected" value="">Please Select</option>
											<option value="ASEN">Aerospace Engineering</option>
											<option value="AMEN">Applied Mathematics</option>
											<option value="AREN">Architectural Engineering</option>
											<option value="CHEN">Chemical Engineering</option>
											<option value="CBEN">Chemical and Biological Engineering</option>
											<option value="CVEN">Civil Engineering</option>
											<option value="CSEN">Computer Science</option>
											<option value="EEEN">Electrical Engineering</option>
											<option value="ECEN">Electrical and Computer Engineering</option>
											<option value="EPEN">Engineering Physics</option>
											<option value="EVEN">Environmental Engineering</option>
											<option value="GEEN">Engineering Plus</option>
											<option value="MCEN">Mechanical Engineering</option>
											<option value="TMEN">Technology, Arts, and Media</option>
										</select>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="secondary_major_select" class="col-sm-3">Secondary Major (Do not include Minors):</label>
									<div class="col-sm-8">
				    					<select class="form-control" name="secondary_major" id="secondary_major_select">
											<option selected="selected" value="">N/A</option>
											<option value="ASEN">Aerospace Engineering</option>
											<option value="AMEN">Applied Mathematics</option>
											<option value="AREN">Architectural Engineering</option>
											<option value="CHEN">Chemical Engineering</option>
											<option value="CBEN">Chemical and Biological Engineering</option>
											<option value="CVEN">Civil Engineering</option>
											<option value="CSEN">Computer Science</option>
											<option value="EEEN">Electrical Engineering</option>
											<option value="ECEN">Electrical and Computer Engineering</option>
											<option value="EPEN">Engineering Physics</option>
											<option value="EVEN">Environmental Engineering</option>
											<option value="GEEN">Engineering Plus</option>
											<option value="MCEN">Mechanical Engineering</option>
											<option value="TMEN">Technology, Arts, and Media</option>
										</select>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="gpa" class="col-sm-3" ><span style="color: #ff0000">*</span>GPA:</label>
									<div class="col-sm-8">
										<input type="text" pattern = "[0-3](\.[0-9]+)*|4" name="gpa"  id="gpa" required>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="school_level_select" class="col-sm-3"><span style="color: #ff0000">*</span>Level in school as of next fall:</label>
									<div class="col-sm-8">
										<select class="form-control" name="school_level_select" id="school_level_select" required>
											<option value="">Please Select</option>
											<option value="Freshman">Freshman</option>
											<option value="Sophomore">Sophomore</option>
											<option value="Junior">Junior</option>
											<option value="Senior">Senior</option>
											<option value="5th year Senior">5th Year Senior</option>
										</select>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="grad_date_select" class="col-sm-3"><span style="color: #ff0000">*</span>Anticipated graduation date:</label>
									<div id="grad_date_select">
										<div class="col-sm-4">
											<select class="form-control" name="grad_date_select" id="month_select" required>
												<option value="">Month</option>
												<option value="05">May</option>
												<option value="08">August</option>
												<option value="12">December</option>
											</select>
										</div>
										<div class="col-sm-4">
											<select class="form-control" name= "year_select" id="year_select" required>
												<option value="">Year</option>
												<option value="2015">2015</option>
												<option value="2016">2016</option>
												<option value="2017">2017</option>
												<option value="2018">2018</option>
												<option value="2019">2019</option>
												<option value="2020">2020</option>
												<option value="2021">2021</option>
											</select>
										</div>
									</div>
								</div>
								<div class="control-label form-group">
									<label for="relevent_exp_radio" class="col-sm-3">Do you have previous research experience:</label>
									<div class="radio col-sm-8" id="relevent_exp_radio" align=left>
										<label class="radio-inline"><input type="radio" name="optradio_research">Yes</label>
										<label class="radio-inline"><input type="radio" name="optradio_research">No</label>
									</div>
								</div>
				    		</div>
			    		</div>
			    		<div class="panel panel-default" id="finances">
					    	<div class="panel-heading">Apprenticeship Information</div>
			    			<div class="panel-body">
			    				<div class="control-label form-group">
									<label for="prev_app_radio" class="col-sm-3">Have you applied for a Discovery Learning Apprenticeship before?:</label>
									<div class="radio col-sm-8" id="prev_app_radio" align = left>
										<div>
											<label class="radio-inline"><input type="radio" name="prev_app_radio">Yes</label>
										</div>
										<div>
											<label class="radio-inline"><input type="radio" name="prev_app_radio">Not sure</label>
										</div>
										<div>
											<label class="radio-inline"><input type="radio" name="prev_app_radio">No</label>
										</div>
									</div>
								</div>
								<div class="control-label form-group">
									<label for="fall_employment_textarea" class="col-sm-3">Other Fall Employment Planned:</label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="5" name="fall_employment_textarea" id="fall_employment_textarea"></textarea>
									</div>
								</div>
								<div>
									<div>
										<p>
											<span class="style1">Please make sure you selected a major before proceeding!</span>
										</p>
										<p>Indicate up to five research projects in order of interest:</p>
										<p>
											<span class="style1">Please note that some projects have special requirements that you must meet.</span>
										</p>
										<p>
											To see requirements and longer descriptions of the project, look at the projects available for your major <a href="dlalisting.aspx#GEEN" target="_blank">here.</a>								
										</p>
										<p>For a full listing of Projects click <a href="">here</a></p>
										<p>(1 - 5 :: Most Interesting - Least Interesting)</p>
									</div>
									<div class="contol-label form-group">
										<label for="project1" class="col-sm-3" align = right><span style="color: #ff0000">*</span>1:</label>
										<div class="col-sm-8" align = left>
											<select class="form-control" id="project1" name="project1"  required>
												<option value="">Please Select</option>
												{% for pro in project %}
				{%  if pro.app_title %}								
<option name = {{ pro.id }} value = {{ pro.id }}> {{ pro.app_title }}</option>
{% endif %}
{%  endfor %}	
											</select>
										</div>
									</div>
									<div class="contol-label form-group">
										<label for="project2" class="col-sm-3" align = right>2:</label>
										<div class="col-sm-8">
											<select class="form-control" id="project2" name="project2">
												<option value="0">Please Select</option>
												{% for pro in project %}
				{%  if pro.app_title %}								
<option name = {{ pro.id }} value = {{ pro.id }}> {{ pro.app_title }}</option>
{% endif %}
{%  endfor %}	
											</select>
										</div>
									</div>
									<div class="contol-label form-group">
										<label for="project3" class="col-sm-3" align = right>3:</label>
										<div class="col-sm-8">
											<select class="form-control" id="project3" name="project3">
												<option value="0">Please Select</option>
												{% for pro in project %}
				{%  if pro.app_title %}								
<option name = {{ pro.id }} value = {{ pro.id }}> {{ pro.app_title }}</option>
{% endif %}
{%  endfor %}	
											</select>
										</div>
									</div>
									<div class="contol-label form-group">
										<label for="project4" class="col-sm-3" align = right>4:</label>
										<div class="col-sm-8">
											<select class="form-control" id="project4" name="project4">

<option value="0">Please Select</option>
												{% for pro in project %}
				{%  if pro.app_title %}								
<option name = {{ pro.id }} value = {{ pro.id }}> {{ pro.app_title }}</option>
{% endif %}
{%  endfor %}		
											</select>
										</div>
									</div>
									<div class="contol-label form-group">
										<label for="project5" class="col-sm-3" align = right>5:</label>
										<div class="col-sm-8">
											<select class="form-control" id="project5" name="project5">
												<option value="0">Please Select</option>

{% for pro in project %}
				{%  if pro.app_title %}								
<option name = {{ pro.id }} value = {{ pro.id }}> {{ pro.app_title }}</option>
{% endif %}
{%  endfor %}											</select>
										</div>
									</div>
					    		</div>
				    		</div>
				    		<div class="control-label form-group">
								<label for="background_chk_radio" class="col-sm-3">Have you had a background check yet (at CU)? If yes when? (Take your best guess if you aren't sure.)</label>
								<div class="radio col-sm-8" id="background_chk_radio" align = left>
									<div>
										<label class="radio-inline"><input type="radio" name="background_chk_radio">Yes</label>
									</div>
									<div>
										<label class="radio-inline"><input type="radio" name="background_chk_radio">Not sure</label>
									</div>
									<div>
										<label class="radio-inline"><input type="radio" name="background_chk_radio">No</label>
									</div>
								</div>
							</div>
				    		<div class="control-label form-group">
								<label for="discrimination_training_chk_radio" class="col-sm-3">Have you had Discrimination and Harassment Awareness training yet (at CU)? If yes when? (Take your best guess if you aren't sure.</label>
								<div class="radio col-sm-8" id="discrimination_training_chk_radio" align = left>
									<div>
										<label class="radio-inline"><input type="radio" name="optradio">Yes</label>
									</div>
									<div>
										<label class="radio-inline"><input type="radio" name="optradio">Not sure</label>
									</div>
									<div>
										<label class="radio-inline"><input type="radio" name="optradio">No</label>
									</div>
								</div>
							</div>
							<div class="control-label form-group">
								<label for="last_digits_ssn" class="col-sm-3"><span style="color: #ff0000">*</span>Last four digits of your Social Security Number: (this will only be used to acess your background check information)</label>
								<div class="col-sm-8" name="last_digits_ssn" id="last_digits_ssn" align = left>
									<input required type="tel" pattern = "^\d{4}$" placeholder="XXXX (all numbers)" class="form-control">
								</div>
							</div>
			    		</div>
			    		<div class="panel panel-default" id="other">
					    	<div class="panel-heading">Skills, Resume, and Cover Letter</div>
			    			<div class="panel-body">
			    				<div>
			    					<div>
				    					<p>
				    						Please list the three skills or qualifications that you feel make you a great candidate for the positions you selected:
				    					</p>
				    					<p>
											(Could be knowledge of a programming language, knowledge of a field, courses taken, personal characteristics, etc. If appropriate, note your match to requirements in job description. Please note responses are limited to 75 characters.)
				    					</p>
			    					</div>
			    					<div class="control-label form-group">
										<label for="skill_input_1" class="col-sm-3">1.</label>
										<div class="radio col-sm-8" id="skill_input_1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="control-label form-group">
										<label for="skill_input_2" class="col-sm-3">2.</label>
										<div class="radio col-sm-8" id="skill_input_2">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="control-label form-group">
										<label for="skill_input_3" class="col-sm-3">3.</label>
										<div class="radio col-sm-8" id="skill_input_3">
											<input type="text" class="form-control">
										</div>
									</div>
			    				</div>
			    				<div>
			    					<div>
				    					<p>
							                To complete the application, you <strong>must</strong> submit a resume and a 
							                cover letter. You can submit both using the form below. Please use either the pdf format or a text document. 
							                To improve your chances of being selected for an apprenticeship, please take the 
							                time to construct a well-written cover letter and resume.
						                </p>
						                <p>
							                <a href="Writing Tips for Cover Letters and Resumes.doc" target="_blank">Click Here</a>
							                <strong> for some tips, which we highly recommend you review before submitting your cover 
							                letter and resume.</strong>
						                </p>
					                </div>
			                		
										<label for="resume_btn" class="btn btn-default btn-file">
											<span style="color: #ff0000">*</span>Select Resume
											<input type="file" name="resume" class="form-control" id="resume_btn" required>
										</label>
									
									
										<label for="cover_letter_btn" class="btn btn-default btn-file" >
											<span style="color: #ff0000">*</span>Select Cover Letter
											<input type="file" name="coverletter" class="form-control" id="cover_letter_btn" required>
										</label>
									
			    				</div>
				    		</div>
			    		</div>
			    		<div class="button">
					  		<button type="submit" class="btn btn-primary btn-large">Submit</button>
					  	</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
