body {
	background-color: #eeeeee;
}

div.body {
	margin-top: 50px;
	margin-bottom: 50px;
}

div.container {
	background-color: #ffffff;
}

div.jumbotron {
	background-color: #ffffff;
}

label {
	text-align: right;
}

div.radio {
	padding-top: 0px;
	text-align: left;
}

.form-horizontal .radio {
	padding-top: 0px;
}

div.button {
	text-align: center;
}

button {
	width: 50%;
}
