<!DOCTYPE html>
<html>
	<head>
		{% load static %}
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  		<a href="https://dlap-web-app.herokuapp.com/"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body">
				<div class="page-title">
					<h1>Project Management</h1>
				</div>
				<div>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Project</th>
								<th>Faculty Name</th>
								<th>Faculty Department</th>
								<th>Assignment Status</th>
								<th>Assigned Student Name</th>
								<th>Manage</th>
							</tr>
						</thead>
						<tbody>
							{% for project in projects %}
							<tr>
								<td>{{ project.app_title }}</td>
								<td>{{ project.primary_first_name }} {{ project.primary_last_name }}</td>
								<td>{{ project.primary_faculty_dept }}</td>
								{% if project.assigned %}
								<td class="success">Assigned</td>
								{% else %}
								<td class="danger">Unassigned</td>
								{% endif %}
								<td>{{ project.assigned_student.primary_first_name }} {{ project.assigned_student.primary_last_name }}</td>
								<td><a href="/client/projects/{{ project.id }}"><button class="btn btn-primary" style="width:100%">Manage</button></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div align=center>
				<a href="/client/logout"><button style="height:50px;width:200px" class="btn btn-primary btn-large home-btn">Logout</button></a>
				<a href="/client/projectsassign"><button style="height:50px;width:200px" class="btn btn-primary btn-large home-btn">Assign students to projects</button></a>	
			<a href="/client/downloadmatrix"><button style="height:50px;width:200px" class="btn btn-primary btn-large home-btn">Download Matrix</button></a>	
		</div>
			</div>
		</div>
	</body>
</html>
