<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  		<a href="https://dlap-web-app.herokuapp.com/"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body">
				<div class="page-title">
					<h1>Project Management</h1>
				</div>
				<div>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Student Name</th>
								<th>Student Major</th>
								<th>Classification</th>
								<th>Assignment Status</th>
								<th>Manage</th>
							</tr>
						</thead>
						<tbody>
							{% for student in students %}
							<tr>
								<td>{{ student.primary_first_name }} {{ student.primary_last_name }}</td>
								<td>{{ student.student_department }}</td>
								<td>{{ student.classification }}</td>
								{% if project.assigned %}
								<td class="success">STUDENT NAME HERE</td>
								{% else %}
								<td class="warning">Unassigned</td>
								{% endif %}
								<td><button class="btn btn-primary">MANAGE</button>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
