<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://rickharrison.github.io/validate.js/validate.min.js"></script>
	</head>
	<body>
		<div class="container content">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  	<a href="http://dlap-web-app.herokuapp.com"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>

{% if listofproj.count > 0 %}

{% for project in listofproj %}
{% if project.app_title %}
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
{% endif %}
{% endfor %}

{% else %}

<h2>Oops! Your query does not match any record in our database... Click on logo to go back to homepage</h2>
{% endif %}
