<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://rickharrison.github.io/validate.js/validate.min.js"></script>
	</head>
	<body>
		<div class="container content">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  	<a href="https://dlap-web-app.herokuapp.com"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body">
				<div class="page-title">
					<h1 align="center">{{ project.app_title }}</h1>
				</div>
				<div>
					<div class="panel panel-default" id="primary_faculty_info">
		    			<div class="panel-heading">Primary Faculty Member Information</div>
				    		<div class="panel-body">
								<div class="contol-label">
									<label for="primary_faculty_name" class="col-sm-3">Primary Faculty Member:</label>
									<div class="col-sm-8">
										<p id="primary_faculty_name">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label">
									<label for="primary_faculty_phone" class="col-sm-3">Primary Faculty Phone Number:</label>
									<div class="col-sm-8">
										<p id="primary_faculty_phone">{{ project.primary_phone_number }}</p>
									</div>
								</div>
								<div class="contol-label">
									<label for="primary_faculty_email" class="col-sm-3">Primary Faculty Email:</label>
									<div class="col-sm-8">
										<p id="primary_faculty_email">{{ project.primary_email }}</p>
									</div>
								</div>
								<div class="contol-label">
									<label for="primary_faculty_dept" class="col-sm-3">Primary Faculty Department:</label>
									<div class="col-sm-8">
										<p id="primary_faculty_dept">{{ project.primary_faculty_dept }}</p>
									</div>
								</div>
								<div class="contol-label">
									<label for="eng_dev_communities" class="col-sm-3">Associated with Engineering for Develing Communities:</label>
									<div class="col-sm-8">
										<p id="eng_dev_communities">{{ project.eng_dev_communities }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="secondary_faculty_info">
			    			<div class="panel-heading">Secondary Faculty Member Information</div>
				    		<div class="panel-body">
								<div class="contol-label">
									<label for="secondary_faculty_name" class="col-sm-3">Secondary Faculty Member:</label>
									<div class="col-sm-8">
										<p id="secondary_faculty_name">{{ project.secondary_first_name }} {{ project.secondary_last_name }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="secondary_faculty_phone" class="col-sm-3">Secondary Faculty Phone Number:</label>
									<div class="col-sm-8">
										<p id="secondary_faculty_phone">{{ project.secondary_phone_number }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="secondary_faculty_email" class="col-sm-3">Secondary Faculty Email:</label>
									<div class="col-sm-8">
										<p id="secondary_faculty_email">{{ project.secondary_email }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="secondary_faculty_dept" class="col-sm-3">Secondary Faculty Department:</label>
									<div class="col-sm-8">
										<p id="secondary_faculty_dept">{{ project.secondary_faculty_dept }}</br></p>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="grad_info">
			    			<div class="panel-heading">Grad Student / Post Doc Information</div>
				    		<div class="panel-body">
								<div class="contol-label">
									<label for="grad_name" class="col-sm-3">Grad Student / Post Doc Name:</label>
									<div class="col-sm-8">
										<p id="grad_name">{{ project.secondary_first_name }} {{ project.secondary_last_name }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="grad_phone" class="col-sm-3">Grad Student / Post Doc Phone:</label>
									<div class="col-sm-8">
										<p id="grad_phone">{{ project.secondary_phone_number }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="grad_email" class="col-sm-3">Grad Student / Post Doc Email:</label>
									<div class="col-sm-8">
										<p id="grad_email">{{ project.secondary_email }}</br></p>
									</div>
								</div>
							</div>
						</div>
		    		</div>
		    		<div class="panel panel-default" id="grad_info">
			    			<div class="panel-heading">Apprenticeship Information</div>
				    		<div class="panel-body">
								<div class="contol-label">
									<label for="full_desc" class="col-sm-3">Full Description</label>
									<div class="col-sm-8">
										<p id="full_desc">{{ project.full_desc }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="supervision_status" class="col-sm-3">Amount of Supervision Available:</label>
									<div class="col-sm-8">
										<p id="supervision_sttus">{{ project.supervision_status }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="supervision_contact" class="col-sm-3">Supervision Provided By:</label>
									<div class="col-sm-8">
										<p id="supervision_contact">{{ project.supervision_contact }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="work_nature" class="col-sm-3">Nature of Work:</label>
									<div class="col-sm-8">
										<p id="work_nature">{{ project.work_nature }}</br></p>
									</div>
								</div>
								<div class="contol-label">
									<label for="prior_work" class="col-sm-3">Amount of Prior Work Required:</label>
									<div class="col-sm-8">
										<p id="prior_work">{{ project.prior_work }}</br></p>
									</div>
								</div>
							</div>
						</div>
		    		</div>
				</div>
			</div>
		</div>
	</body>
</html>

