<!DOCTYPE html>
<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'submit/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://rickharrison.github.io/validate.js/validate.min.js"></script>
	</head>
	<body>
		<div class="container content">
			<div class="header">
			  <div class="jumbotron">
			  	<div class="row">
				  	<div class="col-sm-3">
				  	<a href="http://dlap-web-app.herokuapp.com"><img src="http://www.colorado.edu/activelearningprogram/profiles/express/themes/cusimple/logo.png" height="200" width="200"></a>
				  	</div>
				  	<div class="col-sm-9">
				  		<h1>Discovery Learning Apprenticeship Program</h1>
				    	<p>UNIVERSITY OF COLORADO <strong>BOULDER</strong></p>
				  	</div>
			  	</div>
			  </div>
			</div>
			<div class="body">

				<h1 align="center">Available Projects by all majors</h1>
<p>[Note: If you don't find a department listed here, it means the respective department hasn't offered project yet!]</p>
{% for project in object_list %}
{% if 'Aerospace Engineering' in project.recruit_fields   %}
<h2><a href="#AES">Aerospace Engineering Sciences</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'APPM'  %}
<h2><a href="#APPM">Applied Math</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'CHBE'  %}
<h2><a href="#CHBE">Chemical and Biological Engineering</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'CEAE'  %}
<h2><a href="#CEAE">Civil, Environmental and Architectural Engineering</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'CS'  %}
<h2><a href="#CS">Computer Science</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'ECEE'  %}
<h2><a href="#ECEE">Electrical, Computer and Energy Engineering</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'PHYS'  %}
<h2><a href="#PHYS">Physics</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'EVEN'  %}
<h2><a href="#EVEN">Environmental Engineering</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'ME'  %}
<h2><a href="#ME">Mechanical Engineering</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'CSGC'  %}
<h2><a href="#CSGC">Colorado Space Grant</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'EnEd'  %}
<h2><a href="#EnEd">Engineering Education</a></h2>
{% endif %}
{% if project.primary_faculty_dept == 'ATLS'  %}
<h2><a href="#ATLS">ATLAS</a></h2>
{% endif %}
{% endfor %}
				<div>
					{% for project in object_list %}
{% if project.primary_faculty_dept == 'AES'  %}
<h3 id = "AES">Department: AES</h3>						
						<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						{% endif %}
{% if project.primary_faculty_dept == 'APPM'  %}
<h3 id = "APPM">Department: Applied Math</h3>

<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						{% endif %}
{% if project.primary_faculty_dept == 'CHBE'  %}
<h3 id = "CHBE">Department: Chemical and Biological Engineering</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}

{% if project.primary_faculty_dept == 'CEAE'  %}
<h3 id = "CEAE">Department: Civil, Environmental and Architectural Engineering</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'CS'  %}
<h3 id = "CS">Department: Computer Science</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'ECEE'  %}
<h3 id = "ECEE">Department: Electrical, Computer and Energy Engineering</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'PHYS'  %}
<h3 id = "PHYS">Department: Physics</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'EVEN'  %}
<h3 id = "EVEN">Department: Environmental Engineering</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'ME'  %}
<h3 id = "ME">Department: Mechanical Engineering</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'CSGC'  %}
<h3 id = "CSGC">Department: Colorado Space Grant</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'EnEd'  %}
<h3 id = "EnEd">Department: Engineering Education</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}
{% if project.primary_faculty_dept == 'ATLS'  %}
<h3 id = "ATLS">Department: ATLAS</h3>
<div class="panel panel-default" id="grad-student-info">
				    			<div class="panel-heading" align="center">{{ project.app_title }} 
							</div>
				    		<div class="panel-body">
								<div class="contol-label form-group">
									<label for="primary_contact" class="col-sm-2">Primary Faculty:</label>
									<div class="col-sm-10">
										<p id="primary_contact">{{ project.primary_first_name }} {{ project.primary_last_name }}</p>
									</div>
								</div>
								<div class="contol-label form-group">
									<label for="project_description" class="col-sm-2">Description:</label>
									<div class="col-sm-10">
										<p id="project_description">{{ project.full_desc }}</p>
									</div>
								</div>
								<div class="button">
									<h2><a href="/submit/{{ project.id }}"><button class="btn btn-primary btn-large">View Full Project Details</button></a></h2>
								</div>
			    			</div>
			    			</div>
						
{% endif %}

				 	{% endfor %}
				
		      	</div>
		 </div>
	</div>
	</body>
</html>

