body {
	background-color: #eeeeee;
}

div.container {
	background-color: #ffffff;
}

div.jumbotron {
	background-color: #ffffff;
}

label {
	text-align: right;
}

div.radio {
	padding-top: 0px;
	text-align: left;
}

.form-horizontal .radio {
	padding-top: 0px;
}